################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/media
/Source/__pycache__
/Source/c1anim1.py
/.venv
/venv
/.vscode
